<!-- _includes/navbar.html -->
<nav class="main-menu d-flex navbar fixed-top navbar-expand-lg py-4">
  <div class="container-fluid px-md-5">
    <div class="main-logo">
      <a href="/index.html">
        <img src="images/alda/alda-logo.png" alt="Alda Hub logo" class="img-fluid">
      </a>
    </div>
    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header justify-content-center">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body justify-content-between">
        <ul class="navbar-nav menu-list list-unstyled d-flex gap-md-3 ps-lg-5 mb-0">
          <li class="nav-item">
            <a href="/index.html" class="nav-link mx-3">Home</a>
          </li>
          <li class="nav-item">
            <a href="/about-us.html" class="nav-link mx-3">About us</a>
          </li>
          <li class="nav-item">
            <a href="/services.html" class="nav-link mx-3">Services</a>
          </li>
          <li class="nav-item">
            <a href="https://datalchimie.blogspot.com/" class="nav-link mx-3 text-decoration-underline" target="_blank">Blog</a>
          </li>
          <li class="nav-item">
            <a href="/contact-us.html" class="nav-link mx-3 active">Contact</a>
        </ul>
      </div>
    </div>
  </div>
</nav>
